/* Header.css */
.app-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw;  /* Using vw for padding to scale with the viewport */
  background-color: orange;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height:10vh;
  margin-bottom: 2%;;
}

.app-header > div, .app-header > h1 {
  text-align: center;
  font-weight: normal;
  padding: 1vw; /* Consistent padding in vw units */
}

.main-logo {
  flex: 2; /* Logo gets more emphasis */
  display: flex; /* Ensures the logo is centered */
  justify-content: center; /* Centers the logo horizontally */
  align-items: center; /* Centers the logo vertically */
  width:60%;
  /* border:2px solid red; */
}

.main-logo img {
  min-height: 40px; /* Limits the height of the logo */
  width: auto; /* Ensures the width adjusts based on the height to maintain aspect ratio */
  max-width: 100%; /* Prevents the logo from exceeding the width of its container */
}

.menu-log, .search-logo {
  display: flex;
  width:10%;
  height: 40%;
  /* border:2px solid red; */
  justify-content: center; /* Centers the logo horizontally */
  align-items: center; /* Centers the logo vertically */
}

.menu-log img, .search-logo img {

  height: 100%;

}

/* Responsive design adjustments using a viewport width threshold */
@media (max-width: 48vw) { /* Adjusting the breakpoint using vw instead of fixed px */
  .app-header {
    flex-direction: column;
  }

  .main-logo, .menu-log, .search-logo {
    flex: none; /* Removes flex-grow settings */
    margin: 1vw 0; /* Adds vertical spacing in mobile view */
    width: 100%; /* Full width for better tap targets */
  }
}
