/* Header.css */
.app-header {
  padding-left: 5%;
  padding-right:5%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: rgb(255, 123, 0);
  height:8vh;
}


.main-logo {
  display: flex; /* Ensures the logo is centered */
  justify-content: center; /* Centers the logo horizontally */
  align-items: center; /* Centers the logo vertically */
  min-width:80%;
  /* border:2px solid red; */
}

.main-logo img {
  min-height: 40px; /* Limits the height of the logo */
  width: auto; /* Ensures the width adjusts based on the height to maintain aspect ratio */
  max-width: 100%; /* Prevents the logo from exceeding the width of its container */
}

.menu-log, .search-logo {
  display: flex;
  width:5%;
  height: 40%;
  /* border:2px solid red; */
  justify-content: center; /* Centers the logo horizontally */
  align-items: center; /* Centers the logo vertically */
}

.menu-log img, .search-logo img {

  height: 100%;

}

