.app-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the main logo only */
  background-color: rgb(255, 123, 0);
  height: 10vh;
  min-height: 45px; /* Minimum height to ensure visibility on smaller screens */
  position: relative; /* Required for absolute positioning of children */
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensures it's on top in case of overlap */
  /* border: 3px solid blue; */
}

.main-logo img {
  height: auto; /* Maintains aspect ratio */
  max-height: 50px; /* Limits the height, making it responsive */
  max-width: 100%; /* Ensures the image does not overflow its container */
}

/* Menu Logo Styles */
.menu-log {
  position: absolute;
  left: 5%; /* Positions 5% from the left */
  top: 50%; /* Centers vertically */
  transform: translateY(-50%); /* Fine-tunes vertical centering */
  width: 30px; /* Fixed width for consistent logo size */
  height: 30px;
}

.menu-log img {
  height: 100%;
  width: 100%;
  /* border: 2px solid purple; */
}

/* Search Logo Styles */
.search-logo {
  position: absolute;
  right: 5%; /* Positions 5% from the right */
  top: 50%; /* Centers vertically */
  transform: translateY(-50%); /* Fine-tunes vertical centering */
  width: 30px; /* Fixed width for consistent logo size */
  height: 30px;
  z-index: 100;
}

.search-logo img {
  height: 100%;
  width: 100%;
  /* border: 2px solid purple; */
}




.search-bar {
  position: absolute;
  top:0;
  height:50vh;
  width:100%;
  border:5px solid red;
  background-color: white;
  display: flex;
  flex-direction: column;

  align-items: center;

}

input[type="text"] {
  font-size: 16px;  /* Fixed font size */
  width: 100%;  /* Makes the input field match the width of its container */
  height: 5vh;  /* Height based on viewport height */
  border-radius: 20px;
  background-color: pink;
  color: black;
  padding: 0 2vw;  /* Padding based on viewport width */
  border:2px solid red;
}

ul {
  width: 100%;  /* Matches the width of the search bar */
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  width: 100%;
  background-color: #fff;
  border: 1px solid gray;
  text-align: left;
  border-radius: 4px;
  margin-bottom: 2vh;  /* Margin based on viewport height */
  padding: 2vh;  /* Padding based on viewport height */
  cursor: pointer;
}

.menu-log{
  z-index: 20000;
}