/* Base styles for mobile-first design */
.HomePage {
  background-color: #f9f9f9;
  color: #333;
  padding: 20px;
  max-width: 100%;
  margin: auto;
}

/* Override styles for medium devices (tablets and low-resolution desktops) */
@media (min-width: 451px) and (max-width: 1440px) {
  .HomePage {
    background-color: red;
    min-height: 100vh; /* Ensures full screen height */
  }
}

/* Override styles for larger screens (high-resolution desktops) */
@media (min-width: 1441px) {
  .HomePage {
    max-width: 1600px;
    background-color: purple;
    margin: 0 auto; /* Centers the layout when max-width is less than the screen width */
  }
}
