.SearchBar-Section{
  margin-top: 2%;
  margin-bottom:2%;
  /* border: 2px solid red; */
background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
  
  /* Style for the input field to make it easy to tap on mobile and aesthetically pleasing */
  input[type="text"] {
    margin-top:2%;
    height:5vh;

    width: 70%; 

    border-radius: 20px;

    background-color: pink;


    box-sizing: border-box;
    color:black;


    


  }
  

  ul {
    margin-top:2%;
    margin-left:8%;
 

    width: 80%;
    list-style: none;
    /* border: 2px solid green; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  li {
    width: 80%;
    background-color: #fff;
    border: 2px solid gray;


    text-align: left;
    border-radius: 4px;
    margin-bottom:2%;
  }
  
