/* Tabs.css */
.tabs-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px; /* Adjust based on your content */
  background-color: gray;
}

.tabs-nav {
  margin-bottom: 10px;
}

.tab-button {
  cursor: pointer;
  padding: 8px;
  margin-right: 4px;
}

.tab-contents {
  position: relative;
  width: 100%;
  height: 100%;
}

.tab-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(100%);
}

.tab-content.active {
  transform: translateX(0);
}

.tab-content.active.right {
  transform: translateX(0);
}

.tab-content:not(.active).right {
  transform: translateX(-100%);
}

.tab-content.active.left {
  transform: translateX(0);
}

.tab-content:not(.active).left {
  transform: translateX(100%);
}

.tab-content img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This line ensures that the image covers the tab content area */
}