/* Catalogs.css */
.catalog-section {

  width:100%;
  min-height:6vh;
  display: flex;
  justify-content: left;
  align-items: center; /* Ensure buttons are centered vertically */
  width: 100%;
  background-color: white;


  margin-bottom: 2%;
}

.catalog-section button {
  min-height:3vh;
  border-radius: 3px;
  /* width: 20vw; */
  font-size: min(4vw,4vh); /* Responsive font size that adjusts with the viewport */
  text-align: center;

  background-color: white;


  transition: all 0.3s ease; /* Smooth transition for all properties */
  margin:1%;

}

 
.catalog-section button.active {
  color: #333; /* Darker text color for better contrast */
  font-weight: bold;
  pointer-events: none; 
  color: blue;
  outline:none; 
  border: none;
  background-color: rgb(103, 250, 255);
}
