/* Catalogs.css */
.catalog-buttons {
  width:100%;
  display: flex;
  justify-content: space-around;
  align-items: center; /* Ensure buttons are centered vertically */
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #e0e0e0;
  padding: 1vh 0; /* Add vertical padding to give more touch space */
  margin-bottom: 2%;
}

.catalog-buttons button {
  flex-grow: 1; /* Allow each button to fill the space evenly */
  padding: 1vh 20px; /* Use vh to maintain relative sizing that adapts to viewport height */
  font-size: calc(0.6vw + 0.6vh + 0.5em); /* Responsive font size that adjusts with the viewport */
  text-align: center;
  background-color: transparent;
  border: none;
  border-radius: 5px; /* Optional: Adds slight rounding to buttons for a softer look */
  cursor: pointer;
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

.catalog-buttons button:hover, 
.catalog-buttons button.active {
  background-color: pink; /* Slight pink background on hover and when active */
  color: #333; /* Darker text color for better contrast */
}

.catalog-buttons button.active {
  font-weight: bold; /* Make active button text bold */
}
