/* RecipeCards.css */
.recipe-cards {
  display: flex;
  flex-wrap: wrap;
  /* border:2px solid red; */
  justify-content: space-evenly;

}

.recipe-card {
  flex: 0 0 39%; /* Set exact width to ensure 2 cards per line, accounting for gap */

  padding: 10px;
  background-color: #fff; /* Light background color for better contrast */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.1); /* Enhanced shadow for depth */
  border-radius: 10px; /* Rounded corners for modern look */
  margin-bottom: 5%;

}

.recipe-card img {
  width: 100%;
  aspect-ratio: 16 / 9; /* Sets a 16:9 aspect ratio */
  object-fit: cover;
  object-position: center; /* Ensures the center of the image is always shown */
  border-bottom: 1px solid #e0e0e0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: green;
  color: white;
  border-radius: 10px;
  z-index: 1000; /* Ensures it's on top of other content */
}