/* Types.css */
.type-section {

    min-height:8vh;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #e0e0e0;

    display: flex;
    justify-content: left;
    
  }
  
  /* Types.css */
.type-section button {
  min-height:5vh;
  width: 10vw;
  /* border:2px solid red; */
  align-self: center;
  flex-grow: 1;

  font-size: min(4vw,4vh);
  text-align: center;

  align-items: center;


  background-color: transparent;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.type-section button.active {
  /* background-color: pink;  */
  font-weight: bold;
  pointer-events: none; 
  color: blue;
  
}

.type-section button.active .type-name{
  padding-bottom: 3px;
  border-bottom: 3px solid blue;
}
